---
layout: page
---
<h1><a href="{{ page.agency_url }}">{{ page.title }}</a></h1>
<ul class="list-group list-group-horizontal">
  {% for category in page.categories %}
    <li class="list-group-item">{{ category }}</li>
  {% endfor %}
</ul>
{{ content }}
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      {% if page.address %}
        {{ page.address }}
      {% endif %}
    </div>
    <div class="col">
      {% if page.phone %}
        P: <a href="tel:{{ page.phone }}">{{page.phone}}</a>
      {% endif %}
    </div>
    <div class="col">
      {% if page.email %}
        <a href="mailto:{{ page.email }}">{{ page.email }}</a>
      {% endif %}
    </div>
  </div>
</div>
