---
layout: page
---
{{ content }}


<div class="container">
  <div class="row align-items-start">
    <div class="row">
      <div class="col-6">
        <h2>Agencies</h2>
        <ul>
          {% for agency in site.agencies %}
            <li><a href="{{ agency.url }}">{{ agency.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-6">
        <h2>Events</h2>
        <ul>
          {% for event in site.events %}
            <li><a href="{{ event.url }}">{{ event.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
